.pane-dnd-overlay {
  position: absolute;
  inset: 0;
  background: var(--color-accent);
  opacity: 0.25;
  pointer-events: none;
  z-index: 20;
}

.pane-dnd-overlay--left {
  right: 50%;
}

.pane-dnd-overlay--right {
  left: 50%;
}

.pane-dnd-overlay--top {
  bottom: 50%;
}

.pane-dnd-overlay--bottom {
  top: 50%;
}
