.direct-add-peer {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 280px;
}

.direct-add-peer__row {
  display: flex;
  gap: 8px;
}

.direct-add-peer__row > *:first-child {
  flex: 2;
}

.direct-add-peer__row > *:last-child {
  flex: 1;
}

.direct-add-peer__actions {
  display: flex;
  justify-content: flex-end;
  gap: 8px;
}
